<%= simple_form_for @sms_client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :district %>  
  <%= f.input :site %>
  <%= f.input :group %>
  <!-- <%= f.input :gRepaymentAmount, :label => 'Repayment Amount' %> -->
  <%= f.input :gRepaymentAmount, :wrapper => :prepend, :label => 'Repayment Amount' do %>
    <%= content_tag :span, ">", :class => "add-on" %>
    <%= f.input_field :gRepaymentAmount %>
  <% end %>
  <%= f.input :lRepaymentAmount, :wrapper => :prepend, :label => 'Repayment Amount' do %>
    <%= content_tag :span, "<", :class => "add-on" %>
    <%= f.input_field :lRepaymentAmount %>
  <% end %>
  <%= f.input :gRepaymentRate, :wrapper => :prepend, :label => 'Repayment Rate' do %>
    <%= content_tag :span, ">", :class => "add-on" %>
    <%= f.input_field :gRepaymentRate %>
  <% end %>
  <%= f.input :lRepaymentRate, :wrapper => :prepend, :label => 'Repayment Rate' do %>
    <%= content_tag :span, "<", :class => "add-on" %>
    <%= f.input_field :lRepaymentRate %>
  <% end %>
  <div class="form-actions">
    <%= f.submit "Get Phone Numbers", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sms_clients_path, :class => 'btn' %>
  </div>
<% end %>
