<%- model_class = SmsClient -%>
<div class="page-header">
  <h2>Client Information</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th>Client Name</th>
      <!-- <th><%= model_class.human_attribute_name(:NationalID) %></th>
      <th><%= model_class.human_attribute_name(:SeasonName) %></th>
      <th><%= model_class.human_attribute_name(:EnrollmentDate) %></th>
      <th><%= model_class.human_attribute_name(:Dropped) %></th>
      <th><%= model_class.human_attribute_name(:DroppedDate) %></th>
      <th><%= model_class.human_attribute_name(:Facilitator) %></th>
      <th><%= model_class.human_attribute_name(:SeasonDataEntryDate) %></th>
      <th><%= model_class.human_attribute_name(:SeasonID) %></th>
      <th><%= model_class.human_attribute_name(:Deceased) %></th>
      <th><%= model_class.human_attribute_name(:GroupName) %></th>
      <th><%= model_class.human_attribute_name(:SiteName) %></th>
      <th><%= model_class.human_attribute_name(:SectorName) %></th>
      <th><%= model_class.human_attribute_name(:DistrictName) %></th>
      <th><%= model_class.human_attribute_name(:GovDistrictName) %></th> -->
      <th>Client ID</th>
      <th>Group ID</th>
      <th>Site ID</th>
      <!-- <th><%= model_class.human_attribute_name(:SectorID) %></th> -->
      <th>District ID</th>
      <!-- <th><%= model_class.human_attribute_name(:GovDistrictID) %></th>
      <th><%= model_class.human_attribute_name(:FieldOfficer) %></th>
      <th><%= model_class.human_attribute_name(:FieldManager) %></th>
      <th><%= model_class.human_attribute_name(:FOID) %></th>
      <th><%= model_class.human_attribute_name(:FMID) %></th>
      <th><%= model_class.human_attribute_name(:GroupFirstSeason) %></th>
      <th><%= model_class.human_attribute_name(:SiteFirstSeason) %></th>
      <th><%= model_class.human_attribute_name(:StockID) %></th>
      <th><%= model_class.human_attribute_name(:LandWaterHarvest) %></th>
      <th><%= model_class.human_attribute_name(:GroupActive) %></th>
      <th><%= model_class.human_attribute_name(:SiteActive) %></th>
      <th><%= model_class.human_attribute_name(:FirstSeason) %></th> -->
      <th>Total Credit</th>
      <th>Repayment Total</th>
      <!-- <th><%= model_class.human_attribute_name(:Service) %></th>
      <th><%= model_class.human_attribute_name(:Delivery) %></th>
      <th><%= model_class.human_attribute_name(:DebtForgive) %></th>
      <th><%= model_class.human_attribute_name(:InputCredit) %></th>
      <th><%= model_class.human_attribute_name(:ChangeFee) %></th>
      <th><%= model_class.human_attribute_name(:Enrollment) %></th>
      <th><%= model_class.human_attribute_name(:TrainingFee) %></th>
      <th><%= model_class.human_attribute_name(:FuneralAsstFee) %></th>
      <th><%= model_class.human_attribute_name(:NewClientFee) %></th>
      <th><%= model_class.human_attribute_name(:DeferredCredit) %></th>
      <th><%= model_class.human_attribute_name(:CreditAdjustment) %></th>
      <th><%= model_class.human_attribute_name(:PreviousDeferredCredit) %></th>
      <th><%= model_class.human_attribute_name(:SeasonClientID) %></th>
      <th><%= model_class.human_attribute_name(:LastRepayment) %></th>
      <th><%= model_class.human_attribute_name(:ExtendedClientID) %></th> -->
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <% @sms_clients.each do |sms_client| %>
      <tr>
        <!-- <td><%= link_to sms_client.id, sms_client_path(sms_client) %></td> -->
        <td><%= link_to sms_client.ClientName, sms_client_path(sms_client) %></td>
        <!-- <td><%= sms_client.NationalID %></td>
        <td><%= sms_client.SeasonName %></td>
        <td><%= sms_client.EnrollmentDate %></td>
        <td><%= sms_client.Dropped %></td>
        <td><%= sms_client.DroppedDate %></td>
        <td><%= sms_client.Facilitator %></td>
        <td><%= sms_client.SeasonDataEntryDate %></td>
        <td><%= sms_client.SeasonID %></td>
        <td><%= sms_client.Deceased %></td>
        <td><%= sms_client.GroupName %></td>
        <td><%= sms_client.SiteName %></td>
        <td><%= sms_client.SectorName %></td>
        <td><%= sms_client.DistrictName %></td>
        <td><%= sms_client.GovDistrictName %></td> -->
        <td><%= sms_client.ClientID %></td>
        <td><%= sms_client.GroupID %></td>
        <td><%= sms_client.SiteID %></td>
        <!-- <td><%= sms_client.SectorID %></td> -->
        <td><%= sms_client.DistrictID %></td>
        <!-- <td><%= sms_client.GovDistrictID %></td>
        <td><%= sms_client.FieldOfficer %></td>
        <td><%= sms_client.FieldManager %></td>
        <td><%= sms_client.FOID %></td>
        <td><%= sms_client.FMID %></td>
        <td><%= sms_client.GroupFirstSeason %></td>
        <td><%= sms_client.SiteFirstSeason %></td>
        <td><%= sms_client.StockID %></td>
        <td><%= sms_client.LandWaterHarvest %></td>
        <td><%= sms_client.GroupActive %></td>
        <td><%= sms_client.SiteActive %></td>
        <td><%= sms_client.FirstSeason %></td> -->
        <td><%= sms_client.TotalCredit %></td>
        <td><%= sms_client.RepaymentTotal %></td>
        <!-- <td><%= sms_client.Service %></td>
        <td><%= sms_client.Delivery %></td>
        <td><%= sms_client.DebtForgive %></td>
        <td><%= sms_client.InputCredit %></td>
        <td><%= sms_client.ChangeFee %></td>
        <td><%= sms_client.Enrollment %></td>
        <td><%= sms_client.TrainingFee %></td>
        <td><%= sms_client.FuneralAsstFee %></td>
        <td><%= sms_client.NewClientFee %></td>
        <td><%= sms_client.DeferredCredit %></td>
        <td><%= sms_client.CreditAdjustment %></td>
        <td><%= sms_client.PreviousDeferredCredit %></td>
        <td><%= sms_client.SeasonClientID %></td>
        <td><%= sms_client.LastRepayment %></td>
        <td><%= sms_client.ExtendedClientID %></td> -->
        <td><%= sms_client.ClientPhoneNumber %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sms_client_path,
            :class => 'btn btn-primary' %>
